@import 'styles/breakpoints';

.video-wrapper {
  width: 100%;
  height: 100%;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.caption-wrapper {
  display: flex;
  justify-content: center;
  color: var(--wpe--color--white);
  bottom: 7%;
  width: 100%;
  position: absolute;
  font-family: 'Unit Slab Pro Black';
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  padding: 0 1rem;
  z-index: 10;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 3rem;
  }

  // @media (min-width: $breakpoint-medium) {
  //   top: 70%;
  // }
}

.chevron-wrapper {
  display: flex;
  justify-content: center;
  color: var(--wpe--color--white);
  bottom: 20%;
  width: 100%;
  position: absolute;
  visibility: hidden;

  // @media (min-width: $breakpoint-medium) {
  //   top: 70%;
  // }

  svg {
    transform: rotate(90deg);
    width: 1.5rem;
    height: 1.5rem;
    @media (min-width: $breakpoint-extra-small) {
      width: 2rem;
      height: 2rem;
    }
  }
}

.maximized {
  bottom: 7%;
  transition: bottom 0.5s ease-in-out;
  visibility: visible;
  z-index: 10;

  // @media (min-width: $breakpoint-medium) {
  //   top: 87.5%;
  // }
}

.bottom-gradient {
  bottom: 0;
  position: absolute;
  text-align: center;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 35%);
}
