@import 'styles/breakpoints';

.component {
  margin-right: 0;
  margin-left: 0;
  width: 100vw;
  background-color: var(--wpe--color--deep--black);
  padding: 0 0 2rem;
  overflow: hidden;
  position: relative;
  top: 3.5rem;
  min-height: 100vh;

  @media (min-width: $breakpoint-small) {
    top: 4.5rem;
    min-height: calc(-4.5rem + 100vh);
  }

  img {
    object-fit: cover;
    object-position: center;
  }
}
