@import 'styles/breakpoints';

.navigation-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  height: auto;
  width: 100vw;
  top: 2.75rem;
  padding: 0;
  background-color: var(--wpe--color--black);
  z-index: 51;
  // min-height: 2.5rem;

  @media (min-width: $breakpoint-extra-small) {
    top: 3.5rem;
    // min-height: 3rem;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 700px;
    padding: 0 1rem 0;
    background-color: transparent;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0 2rem;
      margin: 0 auto;
    }

    @media (min-width: $breakpoint-small) {
      padding: 0;
    }

    @media (min-width: $breakpoint-large) {
      margin: 0 auto;
      padding: 0;
      position: relative;
      max-width: 700px;
      z-index: 48;
    }
  }

  .menu-button {
    padding: 0.5rem;
    margin: 0;
    min-width: 4rem;
    width: fit-content;
    height: 100%;
    color: var(--wpe--color--white--smoke);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $breakpoint-extra-small) {
      min-width: 20%;
      max-width: 45%;
    }

    .menu-title {
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
      font-size: 0.65rem;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 0.875rem;
      }

      @media (min-width: $breakpoint-large) {
        font-size: 1.25rem;
      }
    }

    // &:hover,
    &.active {
      background-color: var(--wpe--color--white--smoke);
      color: var(--wpe--color--black);
    }

    svg {
      padding: 0;
      margin: 0;
      height: 2rem;
    }
  }
}

.full-menu-content {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 48;
  top: -150vh;
  background-color: rgba(0, 0, 0, 0.3); /* Slightly transparent */
  backdrop-filter: blur(10px); /* Apply blur */

  &.show {
    padding: 0;
    gap: 1rem;
    top: 4.65rem;
    height: calc(-4.65rem + 100vh);
    transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

    @media (min-width: $breakpoint-extra-small) {
      top: 5.75rem;
      left: 0;
      height: calc(-5.75rem + 100vh);
      width: 100vw;
    }

    @media (min-width: $breakpoint-large) {
      top: 6.3rem;
      left: 0;
      height: calc(-6.3rem + 100vh);
      width: 100vw;
    }

    // * {
    //   color: var(--wpe--color--white--smoke);
    // }
  }
}

.full-menu-wrapper {
  background-color: var(--wpe--color--black);
  position: relative;
  max-width: 700px;

  @media (min-width: $breakpoint-extra-small) {
    margin: 0 auto;
  }

  * {
    color: var(--wpe--color--white--smoke);
  }
}

.rca-menu-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 48;
  top: -150vh;
  background-color: rgba(0, 0, 0, 0.3); /* Slightly transparent */
  backdrop-filter: blur(10px); /* Apply blur */
  color: var(--wpe--color--black);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 4.7rem;
    height: calc(-4.7rem + 100vh);
    transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

    @media (min-width: $breakpoint-extra-small) {
      top: 5.8rem;
      left: 0;
      height: calc(-5.8rem + 100vh);
      width: 100vw;
    }

    @media (min-width: $breakpoint-large) {
      top: 6.35rem;
      height: calc(-6.35rem + 100vh);
    }

    > div > div {
      background-color: var(--wpe--color--black);

      * {
        color: var(--wpe--color--white--smoke);
      }
    }
  }
}
