@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.component {
  background-color: transparent;
  color: var(--wpe--color--black);
  position: relative;
  overflow: hidden;
  margin: 0;

  @media (min-width: $breakpoint-medium) {
    margin: 0 auto;
    background-color: var(--wpe--color--light--yellow);
    max-width: 800px;
    padding: 0;
  }
}

.maximized {
  @media (min-width: $breakpoint-medium) {
    transition: margin 1.5s ease-in-out;
    margin: -52.5vh auto 0;
  }
}

.luxury-travel {
  position: relative;
  padding: 1rem 0;
  background-color: var(--wpe--color--light--yellow);

  @media (min-width: $breakpoint-medium) {
    margin: calc(-52.5vh + 7.35rem) auto 0;
    padding: 2rem 0;
    max-width: 800px;
  }
}

.luxury-travel.maximized {
  @media (min-width: $breakpoint-medium) {
    margin: calc(-52.5vh + 7.35rem) auto 0;
  }
}

.luxury-travel-spotlight {
  position: relative;
  padding: 1rem 0;
  background-color: var(--wpe--color--white--smoke);

  @media (min-width: $breakpoint-medium) {
    margin: calc(-52.5vh + 7.35rem) auto 0;
    padding: 2rem 0;
    max-width: 800px;
  }
}

.luxury-travel-spotlight.maximized {
  @media (min-width: $breakpoint-medium) {
    margin: calc(-52.5vh + 7.35rem) auto 0;
  }
}

.header-wrapper {
  background-color: var(--wpe--color--light--yellow);
  display: flex;
  margin: 21.65rem auto 0;
  padding: 0;
  flex-direction: column;
  row-gap: 0.5rem;
  max-width: 800px;

  @media (min-width: $breakpoint-extra-small) {
    margin: 0 auto;
  }
}

.luxury-travel .header-wrapper {
  background-color: var(--wpe--color--light--yellow);
  display: flex;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  row-gap: 0.5rem;
  max-width: 800px;
}

.category-wrapper {
  padding: 0.25rem 0.5rem;
  margin: 0;
  min-width: 4rem;
  width: fit-content;
  height: 100%;
  color: var(--wpe--color--black);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--wpe--color--black);
  color: var(--wpe--color--white);
  fill: var(--wpe--color--white);

  @media (min-width: $breakpoint-extra-small) {
    padding: 0.5rem 0.75rem;
  }

  .category {
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Ringside Regular A', 'Ringside Regular B';
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 15.2px;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 0.875rem;
      line-height: 20.8px;
    }

    @media (min-width: $breakpoint-large) {
      font-size: 1.2rem;
      line-height: 29.6px;
    }
  }
}

.title {
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 800;
  font-size: 1.75rem;
  line-height: 1.2;
  text-transform: none;
  color: var(--wpe--color--black);
  text-align: left;
  text-wrap: balance;
  padding: 0 1rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 2.25rem;
    padding: 0 2rem;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 4rem;
  }
}

.sponsored {
  color: var(--wpe--color--black);
  font-size: 0.8rem;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 400;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  text-wrap: balance;
  padding: 0 1rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1rem;
    padding: 0 2rem;
  }

  @media (min-width: $breakpoint-medium) {
    font-size: 1.4rem;
  }
}

.icon-wrapper {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 500;

  .category-label {
    font-size: 1rem;
    line-height: 1.2;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.25rem;
    }
  }

  .location-label {
    font-size: 1rem;
    line-height: 1.2;

    @media (min-width: $breakpoint-medium) {
      font-size: 1.25rem;
    }
  }

  .icon {
    svg {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
}
