.post-hc-swiper {
  height: auto;
  margin: 1rem 0 0;
}

.post-hc-swiper > .swiper-wrapper {
  padding: 0;
}

.post-hc-swiper > .swiper-wrapper > .swiper-slide {
  padding: 0;
  aspect-ratio: 1 / 1;
}

.post-hc-swiper > .swiper-pagination > .swiper-pagination-bullet {
  padding: 0;
  width: 14px;
  height: 14px;
}

@media only screen and (min-width: 640px) {
  .post-hc-swiper {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .post-hc-swiper {
    width: 100vw;
    padding: 0 1rem;
    margin: 0 0 1rem;
  }
}
