@import 'styles/breakpoints';

.component {
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 0 1rem;
  z-index: 10;
  bottom: 0;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0;
  }

  @media (min-width: $breakpoint-small) {
    bottom: unset;
  }
}

.honors-circle {
  bottom: 0;

  .book-now-wrapper {
    @media (min-width: $breakpoint-small) {
      padding: 0 2rem 1rem;
    }
  }
}

.book-now-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 0 1rem;
  z-index: 1;

  @media (min-width: $breakpoint-small) {
    padding: 0 1rem 1rem;
  }
}

.book-now-button {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: var(--wpe--color--black);
  border-radius: 5rem;
  text-align: center;
  box-shadow: -0.1rem 0.25rem 0.5rem var(--wpe--color--deep--black);

  @media (min-width: $breakpoint-small) {
    max-width: 600px;
  }

  .close-button {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 0.25rem;
  }

  * {
    font-family: 'Ringside Regular A', 'Ringside Regular B';
    font-weight: 500;
    margin: 0 auto;
    padding: 1rem;
    color: var(--wpe--color--white);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--wpe--color--white);
      text-decoration: underline;
    }
  }

  a {
    width: calc(100% - 4rem);
    display: block;
    padding: 0;
  }
}
