@import 'styles/breakpoints';

.component {
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 0 1rem;
  z-index: 10;
  bottom: 0;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0;
  }

  @media (min-width: $breakpoint-small) {
    bottom: unset;
  }
}

.honors-circle {
  bottom: 0;
}

.book-now-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto 1rem;
  padding: 0;
  z-index: 1;
}

.book-now-button {
  width: fit-content;
  margin: 0 auto;
  padding: 0.5rem;
  background-color: var(--wpe--color--black);
  border-radius: 5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  .close-button {
    margin: 0 auto;
    padding: 0.25rem;
  }

  * {
    font-family: 'Ringside Regular A', 'Ringside Regular B';
    font-weight: 500;
    margin: 0 auto;
    padding: 1rem;
    color: var(--wpe--color--white);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--wpe--color--white);
      text-decoration: underline;
    }
  }
}
