@import 'styles/breakpoints';

.component {
  position: fixed;
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding: 0 1rem;
  z-index: 10;
  bottom: 0;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0;
  }
}

.advertorial {
  .book-now-wrapper {
    @media (min-width: $breakpoint-extra-small) {
      width: 100%;
      max-width: 730px;
    }
  }
}

.black {
  .book-now-wrapper {
    background-color: var(--wpe--color--black);
    color: var(--wpe--color--white);

    * {
      background-color: var(--wpe--color--black);
      fill: var(--wpe--color--white);
      color: var(--wpe--color--white);
      border-radius: inherit;
    }

    a,
    button {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.light_yellow {
  .book-now-wrapper {
    background-color: var(--wpe--color--light--yellow);
    color: var(--wpe--color--black);

    * {
      background-color: var(--wpe--color--light--yellow);
      fill: var(--wpe--color--black);
      color: var(--wpe--color--black);
      border-radius: inherit;
    }

    a,
    button {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.book-now-wrapper {
  width: 90%;
  margin: 0 auto 0.5rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  z-index: 10;
  bottom: 0;
  background-color: transparent;
  border-radius: 5rem;
  box-shadow: -0.1rem 0.25rem 0.5rem var(--wpe--color--deep--black);

  @media (min-width: $breakpoint-extra-small) {
    width: 100%;
    max-width: 630px;
  }
}

.book-now-button {
  position: relative;
  width: fit-content;
  padding: 0.5rem 1rem;
  background-color: var(--wpe--color--black);
  border-radius: 5rem;
  text-align: center;

  @media (min-width: $breakpoint-small) {
    padding: 0.5rem 2rem;
  }

  * {
    font-family: 'Ringside Regular A', 'Ringside Regular B';
    font-weight: 500;
    margin: 0 auto;
    padding: 0;
    color: var(--wpe--color--white);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--wpe--color--white);
      text-decoration: underline;
    }
  }

  // a {
  //   width: calc(100% - 4rem);
  //   text-align: start;
  //   display: block;
  //   padding: 0;
  // }
}

.share-button {
  padding: 0.25rem 1rem;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0.5rem 2rem;
  }

  svg {
    height: 1.3rem;

    @media (min-width: $breakpoint-extra-small) {
      height: 1.4rem;
    }
  }
}
