@import 'styles/breakpoints';

.component {
  background-color: transparent;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: 100%;

  :global {
    * {
      line-height: 1.2;
      width: fit-content;
      white-space: break-spaces;
    }

    a {
      min-width: 100%;
    }

    .menu-name,
    li.menu-name a {
      padding: 0 0 0.5rem;
      color: var(--wpe--color--black);
      display: block;
      transition: all 0.2s ease-out;
      width: 100%;
      white-space: normal;
      text-align: left;
      font-weight: 700;
      font-size: 1rem;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.2rem;
      }
    }

    li.no-link > a {
      pointer-events: none;
      text-decoration: none !important;
    }

    li.blank {
      flex-basis: 100%; /* forces a new row */
      height: 0; /* optional: reduce vertical space if needed */
      padding: 0;
      margin: 0;
      pointer-events: none; /* optional: disable interaction */
      visibility: hidden;
    }

    li.blank::after,
    li.blank::before,
    li.blank:last-child::after,
    li.no-divider::after,
    li.no-divider::before,
    li.no-divider:last-child::after {
      display: none;
    }

    li.blank,
    li.blank + li {
      column-span: all; // take full width, escape columns
      display: block;
      margin-top: auto; // push them down if parent is flex/grid
    }

    li.bold,
    li.bold a {
      font-weight: 700 !important;
    }

    li.no-wrap,
    li.no-wrap a {
      white-space: nowrap;
    }
  }

  .full-menu-content {
    display: block;
    height: calc(-4.5rem + 100vh);
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    transition: transform 0.1s ease-out;
    transition: top 0.4s ease-in-out;
    flex-direction: column;
    background-color: var(--wpe--main--background-color);
    text-wrap: balance;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0 0 2rem;
      height: calc(-4.5rem + 100vh);
      width: 100%;
      // background-color: transparent;
    }

    * {
      ul {
        text-transform: uppercase;
      }
    }

    .menu-wrapper {
      width: 100%;
      height: auto;
      padding: 1rem 1rem 5rem;
      background-color: var(--wpe--main--background-color);

      @media (min-width: $breakpoint-extra-small) {
        max-width: 1000px;
        height: 100%;
        margin: 0 auto;
        padding: 2rem 2rem 5rem;
      }

      a {
        font-weight: 500;
        padding: 0 0 0.25rem;
        font-size: 0.8rem;

        @media (min-width: $breakpoint-medium) {
          font-size: 1rem;
        }
      }
    }

    // Secondary Menu {Destinations Menu}
    .first-wrapper {
      display: block;
      width: 100%;
      margin-bottom: 2rem;

      @media (min-width: $breakpoint-extra-small) {
        border-right: none;
        padding-right: 0;
        margin-bottom: 0;
      }

      .latest-stories {
        padding-top: 0.25rem;

        .menu-content {
          display: flex;
          flex-direction: column;
          list-style-type: none;
          padding: 0;
          margin: 0;
          position: relative;
          justify-content: flex-start;
          gap: 0.25rem;
          position: static;

          a {
            color: var(--wpe--navigation-menu--color);
            display: block;
            transition: all 0.2s ease-out;
            width: auto;
            text-align: left;

            &:hover,
            &:focus {
              color: var(--wpe--color--orange);

              // @media (min-width: $breakpoint-small) {
              //   color: var(--wpe--color--orange);
              // }
            }
          }

          .menu-item {
            text-transform: capitalize;
          }
        }
      }
    }

    .second-wrapper,
    .fourth-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      width: calc(100vw - 2rem);
      max-width: calc(700px - 2rem);
      // row-gap: 2rem;

      @media (min-width: $breakpoint-extra-small) {
        // width: 30%;
        margin-top: 2rem;
        padding-right: 1rem;
      }

      .feature-navigation {
        width: 100%;

        // Menu Title
        ul:first-child {
          display: block;
        }

        > ul {
          width: 100%;

          li {
            break-inside: avoid;
            position: relative;
            padding-right: 0;
            display: block;
            padding-bottom: 0.25rem;

            @media (min-width: $breakpoint-extra-small) {
              padding-right: 0.25rem;
            }

            &:last-child::after {
              display: none;
            }

            a {
              padding: 0 0.25rem 0.25rem 0;
              width: max-content;
            }

            ul {
              display: flex;
              position: absolute;
              top: 0;
              left: 100%;
              padding: 0;
              margin: 0;
              flex-direction: row;
              flex-wrap: nowrap;
              column-gap: 0.125rem;

              @media (min-width: $breakpoint-extra-small) {
                column-gap: 0.25rem;
              }

              li {
                padding-right: 0.5rem;
                width: fit-content;
                position: relative;

                > a {
                  padding: 0;
                }

                &::after {
                  content: '|';
                  font-weight: 400;
                  position: absolute;
                  top: -15%;
                  right: -2.5%;

                  @media (min-width: $breakpoint-extra-small) {
                    top: -10%;
                    right: -5%;
                  }
                }

                &:last-child::after {
                  display: none;
                }

                .menu-item {
                  display: inline-block;
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }

      .menu-name {
        text-transform: uppercase;
        padding: 0 0 0.25rem;
        color: var(--wpe--color--black);
        display: block;
        transition: all 0.2s ease-out;
        width: 100%;
        text-align: left;
        font-weight: 700;
      }

      .socmed-wrapper {
        display: flex;
        justify-content: flex-start;
        column-gap: 0.5rem;

        // @media (min-width: $breakpoint-extra-small) {
        //   column-gap: 1rem;
        // }

        * {
          width: auto;
        }

        a {
          min-width: fit-content;
          padding-right: 0.5rem;
          position: relative;
        }

        .socmed-icon {
          width: 1rem;
          height: 1rem;

          @media (min-width: $breakpoint-extra-small) {
            width: 1.5rem;
            height: 1.5rem;
          }

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    // .third-wrapper {
    //   display: block;
    //   width: 100%;
    //   margin-top: 1rem;
    //   margin-bottom: 1rem;

    //   @media (min-width: $breakpoint-extra-small) {
    //     border-right: none;
    //     padding-right: 0;
    //     margin-top: 2rem;
    //     margin-bottom: 0;
    //   }

    //   span.menu-name {
    //     text-transform: uppercase;
    //     padding: 0 0 0.75rem;
    //     color: var(--wpe--color--black);
    //     display: block;
    //     transition: all 0.2s ease-out;
    //     width: 100%;
    //     white-space: normal;
    //     text-align: left;
    //     font-weight: 700;
    //     font-size: 1rem;

    //     @media (min-width: $breakpoint-medium) {
    //       font-size: 1.2rem;
    //     }
    //   }

    //   .column-wrapper {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr; // two columns
    //     column-gap: 1rem;

    //     @media (min-width: $breakpoint-extra-small) {
    //       column-gap: 2rem;
    //     }

    //     .left-column {
    //       .latest-stories {
    //         .menu-content {
    //           display: flex;
    //           flex-direction: column;
    //           list-style-type: none;
    //           padding: 0;
    //           margin: 0;
    //           position: relative;
    //           justify-content: flex-start;
    //           gap: 0.25rem;
    //           position: static;

    //           a {
    //             color: var(--wpe--navigation-menu--color);
    //             display: block;
    //             transition: all 0.2s ease-out;
    //             width: auto;
    //             text-align: left;

    //             &:hover,
    //             &:focus {
    //               color: var(--wpe--color--orange);

    //               // @media (min-width: $breakpoint-small) {
    //               //   color: var(--wpe--color--orange);
    //               // }
    //             }
    //           }

    //           .menu-item {
    //             text-transform: capitalize;
    //           }
    //         }
    //       }
    //     }

    //     .right-column {
    //       display: flex;
    //       flex-direction: column;
    //       // padding-bottom: 2rem;
    //       // width: calc(-2rem + 100vw);
    //       row-gap: 2rem;
    //       margin-bottom: 1rem;

    //       @media (min-width: $breakpoint-extra-small) {
    //         // width: 30%;
    //         padding-right: 1rem;
    //       }

    //       .secondary-navigation {
    //         // Hide Menu Title
    //         ul:first-child {
    //           display: none;
    //         }

    //         ul {
    //           display: flex;
    //           flex-direction: column;
    //           flex-wrap: wrap;
    //           width: 100%;

    //           li {
    //             a {
    //               color: var(--wpe--navigation-menu--color);
    //               display: block;
    //               transition: all 0.2s ease-out;
    //               width: auto;
    //               text-align: left;
    //               padding: 0 0 0.25rem;

    //               &:hover,
    //               &:focus {
    //                 color: var(--wpe--color--orange);

    //                 // @media (min-width: $breakpoint-small) {
    //                 //   color: var(--wpe--color--orange);
    //                 // }
    //               }
    //             }
    //           }
    //         }
    //       }

    //       .luxury-travel {
    //         .menu-content {
    //           display: grid;
    //           grid-template-columns: 100%;
    //           list-style-type: none;
    //           padding: 0;
    //           margin: 0;
    //           position: relative;
    //           justify-content: flex-start;
    //           gap: 0.25rem;
    //           position: static;

    //           a {
    //             color: var(--wpe--navigation-menu--color);
    //             display: block;
    //             transition: all 0.2s ease-out;
    //             width: auto;
    //             text-align: left;
    //             font-weight: 700;

    //             &:hover,
    //             &:focus {
    //               color: var(--wpe--color--orange);

    //               // @media (min-width: $breakpoint-small) {
    //               //   color: var(--wpe--color--orange);
    //               // }
    //             }
    //           }

    //           .menu-item {
    //             text-transform: capitalize;
    //           }
    //         }
    //       }

    //       .menu-name {
    //         text-transform: uppercase;
    //         padding: 0 0 0.25rem;
    //         color: var(--wpe--color--black);
    //         display: block;
    //         transition: all 0.2s ease-out;
    //         width: 100%;
    //         text-align: left;
    //         font-weight: 700;
    //       }
    //     }
    //   }
    // }

    // .fourth-wrapper {
    //   display: flex;
    //   flex-direction: column;
    //   // padding-bottom: 2rem;
    //   width: calc(100vw - 2rem);
    //   max-width: calc(700px - 2rem);
    //   row-gap: 2rem;

    //   @media (min-width: $breakpoint-extra-small) {
    //     // width: 30%;
    //     margin-top: 2rem;
    //     padding-right: 1rem;
    //   }

    //   .secondary-navigation {
    //     width: 100%;

    //     // Menu Title
    //     ul:first-child {
    //       display: block;
    //     }

    //     > ul {
    //       width: 100%;

    //       li {
    //         break-inside: avoid;
    //         position: relative;
    //         padding-right: 0;
    //         display: block;
    //         padding-bottom: 0.25rem;

    //         @media (min-width: $breakpoint-extra-small) {
    //           padding-right: 0.25rem;
    //         }

    //         &:last-child::after {
    //           display: none;
    //         }

    //         a {
    //           padding: 0 0.25rem 0.25rem 0;
    //           width: max-content;
    //         }

    //         ul {
    //           display: flex;
    //           position: absolute;
    //           top: 0;
    //           left: 100%;
    //           padding: 0;
    //           margin: 0;
    //           flex-direction: row;
    //           flex-wrap: nowrap;
    //           column-gap: 0.125rem;

    //           @media (min-width: $breakpoint-extra-small) {
    //             column-gap: 0.25rem;
    //           }

    //           li {
    //             padding-right: 0.5rem;
    //             width: fit-content;
    //             position: relative;

    //             > a {
    //               padding: 0;
    //             }

    //             &::after {
    //               content: '|';
    //               font-weight: 400;
    //               position: absolute;
    //               top: -15%;
    //               right: -2.5%;

    //               @media (min-width: $breakpoint-extra-small) {
    //                 top: -10%;
    //                 right: -5%;
    //               }
    //             }

    //             &:last-child::after {
    //               display: none;
    //             }

    //             .menu-item {
    //               display: inline-block;
    //               white-space: nowrap;
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }

    //   .menu-name {
    //     text-transform: uppercase;
    //     padding: 0 0 0.25rem;
    //     color: var(--wpe--color--black);
    //     display: block;
    //     transition: all 0.2s ease-out;
    //     width: 100%;
    //     text-align: left;
    //     font-weight: 700;
    //   }
    // }

    // .fifth-wrapper {
    //   display: block;
    //   width: 100%;
    //   margin-top: 1rem;
    //   margin-bottom: 1rem;

    //   @media (min-width: $breakpoint-extra-small) {
    //     padding-left: 0;
    //     margin-top: 2rem;
    //     margin-bottom: 0;
    //   }

    //   // Third Menu {Luxe List & RCA Menu}
    //   .third-navigation,
    //   .fourth-navigation {
    //     display: flex;

    //     * {
    //       text-transform: none;
    //     }

    //     ul:first-child {
    //       color: var(--wpe--color--black);
    //       width: auto;
    //       font-weight: 500;
    //       font-size: 0.8rem;

    //       @media (min-width: $breakpoint-medium) {
    //         font-size: 1rem;
    //       }
    //     }

    //     ul {
    //       display: flex;
    //       column-gap: 0;

    //       li:first-child {
    //         padding-left: 0.25rem;
    //       }

    //       li {
    //         display: flex;
    //         padding-right: 0.5rem;

    //         &::after {
    //           content: ',';
    //           border-right: none !important;
    //           font-weight: 500;
    //           font-size: 0.8rem;
    //           margin-left: -2px;

    //           @media (min-width: $breakpoint-medium) {
    //             font-size: 1rem;
    //           }
    //         }

    //         &:last-child::after {
    //           display: none;
    //         }

    //         a {
    //           text-decoration: underline;
    //           font-weight: 500;
    //           font-size: 0.8rem;

    //           @media (min-width: $breakpoint-medium) {
    //             font-size: 1rem;
    //           }
    //         }
    //       }
    //     }
    //   }
    // }

    // .sixth-wrapper {
    //   display: flex;
    //   flex-direction: column;
    //   padding: 0;
    //   width: 100%;
    //   gap: 0;

    //   @media (min-width: $breakpoint-extra-small) {
    //     padding: 2rem 0 0;
    //     flex-direction: column;
    //     justify-content: space-between;
    //     gap: 0.25rem;
    //   }
    // }

    .seventh-wrapper {
      position: absolute;
      bottom: 0;
      padding: 1rem 0 1rem;
      width: auto;

      @media (min-width: $breakpoint-extra-small) {
        padding: 2rem 0 2rem;
      }

      .fifth-navigation {
        width: 100%;

        // Hide Menu Title
        ul:first-child {
          display: none;
        }

        ul {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          padding: 0;
          margin: 0;
        }

        li {
          padding-right: 0.5rem;
          width: fit-content;
          position: relative;

          .menu-item {
            display: inline-block;
            white-space: nowrap;
          }
        }
      }
    }
  }

  .luxury-travel {
    .menu-wrapper {
      background-color: var(--wpe--color--teal);
    }
  }

  .travel-guide {
    .menu-wrapper {
      background-color: var(--wpe--color--light--cream);
    }
  }
}

.dark-color {
  .menu-wrapper {
    background-color: var(--wpe--color--deep--black);

    ul li {
      &::after {
        border-right: 1px solid var(--wpe--color--white--smoke) !important;
      }
      a {
        color: var(--wpe--color--white--smoke);
      }
    }

    ul li ul li {
      &::before {
        border-left: 1px solid var(--wpe--color--white--smoke) !important;
      }
    }

    :global {
      * {
        color: var(--wpe--color--white--smoke) !important;
        fill: var(--wpe--color--white--smoke) !important;

        a {
          &:hover,
          &:focus {
            color: var(--wpe--color--orange) !important;
          }
        }
      }
    }
  }
}

.searchVisible {
  overflow-y: hidden;
}
