@import 'styles/breakpoints';

.component {
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 400;
  line-height: 1.2;
  width: 100%;
  max-width: 700px;
  padding: 0;
  border-top: 1px solid var(--wpe--color--black);

  @media (min-width: $breakpoint-extra-small) {
    border: 1px solid var(--wpe--color--black);
  }

  a {
    * {
      &:hover,
      &:focus {
        color: var(--wpe--color--orange);
      }
    }
  }
}

.full-menu-content {
  display: flex;
  height: calc(-5rem + 100vh);
  width: 100%;
  overflow-x: hidden;
  padding: 0 1rem 7rem;
  transition: transform 0.1s ease-out;
  transition: top 0.4s ease-in-out;
  flex-direction: column;

  @media (min-width: $breakpoint-extra-small) {
    max-height: calc(15rem + 100vh);
    width: 100%;
    padding: 0 0 7rem;
  }

  > div > div {
    border: none;
  }
}

.custom-icon {
  font-family: 'Unit Slab Pro Black';
  font-weight: 400;
  color: var(--wpe--color--black);
  font-size: 1rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1.125rem;
  }
}

.menu-wrapper {
  padding: 1rem 0 7rem;

  @media (min-width: $breakpoint-small) {
    padding: 2rem 2rem 5rem;
  }
}

.accordion-wrapper {
  padding: 0 0 0.5rem;

  // @media (min-width: $breakpoint-extra-small) {
  //   padding: 0 0 1rem;
  // }
}

.accordion-title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;

  // @media (min-width: $breakpoint-extra-small) {
  //   padding: 0 1rem;
  // }

  a {
    width: fit-content;
    :hover,
    :focus {
      text-decoration: none;
    }
  }

  button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  h2 {
    display: flex;
    align-items: center;
    // column-gap: 0.25rem;

    // @media (min-width: $breakpoint-extra-small) {
    //   column-gap: 0.5rem;
    // }
  }

  .accordion-title {
    .title {
      font-weight: 700;
      // color: var(--wpe--color--white);
      // background-color: var(--wpe--color--black);
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      text-transform: uppercase;
      font-size: 1rem;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.2rem;
      }
    }

    .title-dark {
      color: var(--wpe--color--black);
      background-color: var(--wpe--color--white);
    }
  }

  .title-divider {
    font-size: 1.2rem;
    padding: 0 0.25rem;

    @media (min-width: $breakpoint-small) {
      font-size: 1.5rem;
      padding: 0 0.5rem;
    }
  }

  // .main-guides-heading {
  //   .title {
  //     font-family: 'Unit Slab Pro Black';
  //     font-weight: 400;
  //     font-size: 0.875rem;

  //     @media (min-width: $breakpoint-medium) {
  //       font-size: 1.25rem;
  //     }
  //   }
  // }

  .navigation-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.25rem;
    flex: 1;

    @media (min-width: $breakpoint-extra-small) {
      column-gap: 0.5rem;
    }
  }

  .nav-link {
    display: flex;

    .not-active {
      border-bottom: 3px solid transparent;

      @media (min-width: $breakpoint-extra-small) {
        border-bottom: 5px solid transparent;
      }

      &:hover,
      &:focus {
        font-weight: 700;
        border-bottom: 3px solid var(--wpe--color--black);

        @media (min-width: $breakpoint-extra-small) {
          border-bottom: 5px solid var(--wpe--color--black);
        }
      }
    }

    .active {
      font-weight: 700;
      border-bottom: 3px solid var(--wpe--color--black);

      @media (min-width: $breakpoint-extra-small) {
        border-bottom: 5px solid var(--wpe--color--black);
      }
    }
  }

  .nav-name {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 0.8rem;

    @media (min-width: $breakpoint-small) {
      font-size: 1rem;
    }

    &::after {
      content: '•';
      padding-left: 0.25rem;
    }

    &:hover,
    &:focus {
      color: var(--wpe--color--orange);
    }
  }

  .nav-name-dark {
    &:hover,
    &:focus {
      border-bottom: 3px solid var(--wpe--color--white);

      @media (min-width: $breakpoint-extra-small) {
        border-bottom: 5px solid var(--wpe--color--white);
      }
    }
  }
}

.name-error {
  color: var(--wpe--color--grey);
  display: flex;
  font-size: 1rem;
  width: fit-content;
  max-width: fit-content;
  line-height: 1.2;
  padding-right: 0.25rem;
}
