@import 'styles/breakpoints';

.component {
  width: 100vw;
  margin: 0 auto;
  line-height: 1.2;
  padding: 0;

  @media (min-width: $breakpoint-extra-small) {
    margin: 0 auto;
    background-color: var(--wpe--color--black);
    width: 100%;
    position: relative;
    max-width: 700px;
  }

  .with-slider-wrapper {
    padding: 0 0 5rem;
    position: relative; /* Ensure positioning context for children */
  }

  .slider-wrapper {
    @media (min-width: $breakpoint-extra-small) {
      position: fixed;
      top: 4.5rem;
      right: 50vw;
      width: 50vw;
      padding: 0;
      height: 100vh;
      border-left: 2rem solid var(--wpe--color--black);
    }

    // @media ((min-width: $breakpoint-extra-small) and (max-width: $breakpoint-small)) {
    //   height: calc(-3.5rem + 100vh);
    // }

    // @media (min-width: $breakpoint-small) {
    //   height: calc(-4.5rem + 100vh);
    // }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    padding: 0 1rem;
    text-transform: none;
    margin: 0.5rem 0 0 0;
    overflow-x: hidden;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0 2rem;
      margin: 0.5rem 0 5.25rem 0;
      border-left: none;
    }
  }

  .navigation-wrapper {
    position: fixed;
    bottom: 0;
    left: 0; /* Adjust left value as needed */
    width: 100%; /* Optional, to make it full-width within the parent */
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
    padding: 1rem;
    background-color: var(--wpe--color--black);

    @media (min-width: $breakpoint-extra-small) {
      height: 5.25rem;
      left: 50%;
      width: 50vw;
      justify-content: center;
      padding: 1rem 2rem;
    }
  }

  .pagination-wrapper {
    font-family: 'Rubik Mono One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
  }

  .navigation-button {
    a {
      font-family: 'Rubik Mono One', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      text-align: center;
      color: var(--wpe--color--white);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--wpe--color--orange);
      }
    }
  }

  :global {
    // Scope WordPress block styles within ContentWrapper.
    @import 'styles/blocks';

    * {
      font-family: 'Ringside Regular A', 'Ringside Regular B';
      font-weight: 400;
      max-width: 100%;
      padding: 0 0 0.5rem;
      line-height: 1.5;
      text-transform: none;

      @media (min-width: $breakpoint-small) {
        padding: 0 0 1rem;
      }
    }

    p {
      font-family: 'Ringside Regular A', 'Ringside Regular B';
      font-weight: 400;
      font-size: 1rem;
    }

    figure {
      min-width: 100%;
      padding: 0;

      figcaption {
        display: none;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      font-weight: 700;
      letter-spacing: 1.15px;
    }

    p:has(img),
    img,
    a {
      padding: 0.5rem 0 0.5rem;

      @media (min-width: $breakpoint-small) {
        padding: 0.75rem 0 0.75rem;
      }
    }

    em {
      padding: 0;
    }

    p:empty {
      display: none;
    }

    strong {
      padding: 0;
      font-weight: 700;
    }

    a {
      font-family: 'Ringside Regular A', 'Ringside Regular B';
      font-weight: 400;
      color: var(--wpe--link--color);
      text-decoration: underline;

      &:hover,
      &:focus {
        color: var(--wpe--link--color);
        text-decoration: none;
      }
    }

    li {
      font-size: 1.6rem;
    }

    ul > li {
      padding: 0;
    }

    img {
      display: inline-flex;
      height: auto;
    }

    .alignleft {
      display: inline;
      float: left;
      margin-right: 1.5em;
    }

    .alignright {
      display: inline;
      float: right;
      margin-left: 1.5em;
    }

    .aligncenter {
      clear: both;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    code,
    pre {
      color: var(--color-white);
      background: var(--color-black);
    }

    code {
      padding: 0.25rem 0.5rem;
    }

    pre {
      max-width: 100%;
      overflow: auto;
      padding: 1rem;
    }

    blockquote {
      border-top: 1px solid var(--color-black);
      border-bottom: 1px solid var(--color-black);
      font-style: italic;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      padding: 4rem 1rem 4rem;
      text-align: center;

      &::before {
        content: 'â€';
        display: block;
        font-size: 6rem;
        line-height: 0;
        margin: 2rem 0;
      }

      > *:last-child {
        margin-bottom: 0;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    thead th {
      border-bottom: 1px solid var(--wpe--color--slate);
      padding-bottom: 0.5em;
    }

    th {
      padding: 0.4rem 0;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid var(--wpe--color--slate);
    }

    td {
      padding: 1.25rem 0;

      @media (min-width: $breakpoint-small) {
        padding: 1rem 0;
      }
    }
  }
}
