@import 'styles/breakpoints';

.component {
  background-color: transparent;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 700;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

  @media (min-width: $breakpoint-extra-small) {
    justify-content: center;
  }
}

.full-menu-content {
  display: flex;
  height: calc(-5.5rem + 100vh);
  width: 100%;
  overflow-x: hidden;
  padding: 1rem 0 7rem;
  transition: transform 0.1s ease-out;
  transition: top 0.4s ease-in-out;
  flex-direction: column;
  background-color: var(--wpe--color--light--cream);

  @media (min-width: $breakpoint-extra-small) {
    padding: 2rem;
    height: calc(-6.5rem + 100vh);
    width: 100%;
    max-width: 700px;
    overflow: auto;
  }

  * {
    text-transform: capitalize;
  }

  .menu-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100%;
    padding: 1rem 0 7rem;
    font-family: 'Ringside Condensed SSm A', 'Ringside Condensed SSm B';
    font-weight: 800;
    font-size: 1rem;
    text-align: right;
    text-align-last: right;

    @media (min-width: $breakpoint-extra-small) {
      grid-template-columns: max-content 1fr;
      padding: 1rem 0 2.5rem;
      // height: calc(100vh - 12.5rem);
      max-width: calc(100vw - 4.5rem);
      text-align: left;
      text-align-last: auto;
    }

    .guides-menu-header-wrapper {
      display: flex;
      flex-direction: row-reverse;

      @media (min-width: $breakpoint-extra-small) {
        display: contents;
      }

      .left-wrapper {
        padding: 0;

        @media (min-width: $breakpoint-extra-small) {
          align-self: center;
        }
      }

      .category-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        padding: 0;

        @media (min-width: $breakpoint-extra-small) {
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }
      }

      .category {
        color: var(--wpe--color--light--cream);
        background-color: var(--wpe--color--black);
        font-size: 0.6rem;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
        padding: 0.4rem;
        width: fit-content;
        font-family: 'Ringside Regular A', 'Ringside Regular B';
        font-weight: 700;

        @media (min-width: $breakpoint-extra-small) {
          font-size: 0.65rem;
        }
      }

      .title-header-wrapper {
        font-family: 'Ringside Condensed SSm A', 'Ringside Condensed SSm B';
        font-weight: 800;
        font-size: 1rem;
        letter-spacing: 0.06rem;
        padding: 0;
        width: 100%;
        text-align: right;
        text-align-last: right;
        line-height: inherit;

        @media (min-width: $breakpoint-extra-small) {
          font-size: 2rem;
          text-align: left;
          text-align-last: auto;
          line-height: 1;
        }
      }
    }

    .menu-list-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (min-width: $breakpoint-extra-small) {
        display: contents;
      }

      .category-wrapper {
        padding: 0 0 0.5rem;
      }

      .category {
        font-size: 1.25rem;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
        width: fit-content;
        font-weight: 700;

        @media (min-width: $breakpoint-extra-small) {
          font-size: 1.5rem;
        }
      }

      .category-wrapper {
        padding: 0 0 0.5rem;
      }

      .category {
        width: fit-content;
      }

      .title-wrapper {
        letter-spacing: 0.06rem;

        .title {
          line-height: 1.5;
        }
      }
    }

    .content-wrapper {
      padding: 0 0 0.75rem;
    }

    .left-wrapper {
      display: block;
      white-space: nowrap;
      text-align: left;
      padding: 0 1rem 0.5rem;

      @media (min-width: $breakpoint-extra-small) {
        padding: 0;
      }
    }

    .right-wrapper {
      display: block;
      min-width: 0;
      width: 100%;
      padding: 0 1rem 0.5rem;

      @media (min-width: $breakpoint-extra-small) {
        padding: 0;
      }
    }
  }
}
