@import 'styles/breakpoints';

.component {
  margin-right: 0;
  margin-left: 0;
  max-width: 100vw;
  background-color: var(--wpe--color--light--blue);
  padding-bottom: 2rem;
  padding-top: 0;

  @media (min-width: $breakpoint-small) {
    padding-top: 1rem;
  }

  p {
    font-family: var(--font--poppins);
    font-weight: 400;
    font-size: 1.125rem;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 1.25rem;
    }
  }
}
