@font-face {
  font-family: 'Unit Slab Pro Black';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/UnitSlabPro-Black.ttf');
}

@font-face {
  font-family: 'Unit Rounded Pro Black';
  font-style: normal;
  font-weight: normal;
  src: url('../../assets/fonts/FF-Unit-Rounded-Pro-Black.woff') format('woff');
}

@font-face {
  font-family: "DreamOrphans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/dream-orphans.woff") format("woff");
}

@font-face {
  font-family: "DreamOrphans-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/dream-orphans-it.woff") format("woff");
}

@font-face {
  font-family: "DreamOrphans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/dream-orphans-bd.woff") format("woff");
}

@font-face {
  font-family: "DreamOrphans-BoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/dream-orphans-bd-it.woff") format("woff");
}

@font-face {
  font-family: "ChunkFive-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../assets/fonts/ChunkFive-Regular.woff") format("woff");
}
