@font-face {
  font-family: 'DreamOrphans-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/dream-orphans.woff') format('woff');
}

@font-face {
  font-family: 'Unit Slab Pro Black';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/UnitSlabPro-Black.ttf');
}
