@import 'styles/breakpoints';

.component {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  position: relative;

  @media (min-width: $breakpoint-small) {
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;
    max-width: calc(1400px + 2rem);
  }

  .post-wrapper,
  .advertorial-wrapper {
    width: 100vw;
    max-width: 700px;

    @media (min-width: $breakpoint-small) {
      width: calc(50vw - 1rem);
    }
  }

  .advertorial-wrapper {
    article {
      width: 100%;
      margin: 0 auto;
      line-height: 1;
      margin-bottom: 2rem;
      background-color: transparent;
      border-bottom: 0.6rem solid var(--wpe--color--black);
      height: auto;

      @media (min-width: $breakpoint-extra-small) {
        min-height: 45rem;
      }

      @media (min-width: $breakpoint-medium) {
        min-height: 50rem;
      }
    }
  }

  .hc-wrapper {
    margin: 0;
    border-bottom: none;
    font-family: var(--font--poppins);

    @media (min-width: $breakpoint-small) {
      margin: 0 auto 2rem;
      border-bottom: 0.6rem solid transparent;
    }

    article {
      margin: 0;
      background-color: transparent;
      height: auto;

      @media (min-width: $breakpoint-small) {
        min-height: 45rem;
      }

      @media (min-width: $breakpoint-medium) {
        min-height: 50rem;
      }

      * {
        font-family: 'Ringside Regular A', 'Ringside Regular B';
      }

      h2 {
        font-weight: 700;
      }
    }
  }

  .banner-ad-wrapper {
    width: 100vw;
  }
}
