@import 'styles/breakpoints';

.component {
  width: 100vw;
  margin: 1rem auto 2rem;
  line-height: 1.2;
  padding: 0;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 500;

  @media (min-width: $breakpoint-extra-small) {
    max-width: 700px;
  }

  .footer-wrapper {
    border-bottom: 1px solid #929292;
    // background-color: var(--wpe--color--grey);
  }

  .menu-wrapper,
  .logo-wrapper,
  .copyright-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 0;
    text-align: center;
    text-transform: uppercase;
    color: #929292;
    column-gap: 5%;

    @media (min-width: $breakpoint-extra-small) {
      font-size: 1.3rem;
      padding: 1rem 1rem 0;
    }

    h2 {
      font-size: 0.7rem;
      font-weight: 700;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 1rem;
      }
    }

    h5 {
      font-size: 0.7rem;
      text-transform: capitalize;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 1rem;
      }
    }
  }

  .copyright-wrapper,
  .logo-wrapper {
    column-gap: 1rem;
    align-items: flex-start;
    padding: 1.5rem 0 0;

    @media (min-width: $breakpoint-extra-small) {
      column-gap: 3rem;
    }

    a {
      display: flex;
    }
  }

  .copyright-wrapper {
    width: 25%;
  }

  .logo-wrapper {
    width: 20%;
    position: relative;

    img {
      object-fit: contain;
    }
  }
}
