@import 'styles/breakpoints';

.component {
  background-color: transparent;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 700;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  background-color: var(--wpe--color--deep--black);
  position: relative;

  @media (min-width: $breakpoint-extra-small) {
    margin: 0 auto;
    max-width: 700px;
  }
}

.full-menu-content {
  display: block;
  height: calc(-4.5rem + 100vh);
  width: 100%;
  overflow-x: hidden;
  padding: 0 0 7rem;
  transition: transform 0.1s ease-out;
  transition: top 0.4s ease-in-out;
  flex-direction: column;

  * {
    font-size: 1rem;
    // text-transform: uppercase;
    color: var(--wpe--color--white--smoke);
  }

  @media (min-width: $breakpoint-small) {
    padding: 0 0 7rem;
    height: calc(-4.5rem + 100vh);
    width: 100%;
  }

  .menu-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 7rem;
    font-weight: 400;
    text-align: left;

    @media (min-width: $breakpoint-extra-small) {
      padding: 2rem 2rem 5rem;
      margin: 0 auto;
    }

    .title {
      font-size: 0.8rem;
      word-spacing: 0;
      text-transform: capitalize;
      width: fit-content;
      padding: 0.1rem 0;

      &:hover,
      &:focus {
        color: var(--wpe--color--orange);
      }

      @media (min-width: $breakpoint-medium) {
        font-size: 1rem;
      }
    }
  }

  .description-wrapper {
    .description {
      p {
        font-family: 'Ringside Regular A', 'Ringside Regular B';
        color: var(--wpe--color--black);
        font-weight: 400;
        font-size: 0.8rem;

        @media (min-width: $breakpoint-small) {
          font-size: 1rem;
        }
      }

      a {
        text-decoration: underline;
        font-size: 0.8rem;

        @media (min-width: $breakpoint-small) {
          font-size: 1rem;
        }

        &:hover,
        &:focus {
          color: var(--wpe--color--orange);
        }
      }
    }
  }

  .menu-list-wrapper {
    padding: 1rem 0;

    .menu-list {
      ul.menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
      }

      li {
        list-style: none;
        flex: 0 0 calc(50% - 0.5rem);

        @media (min-width: $breakpoint-small) {
          flex: 0 0 calc(33.333% - 0.667rem);
        }
      }

      .hidden-title {
        display: none;
      }
    }

    p {
      font-family: 'Ringside Regular A', 'Ringside Regular B';
      color: var(--wpe--color--black);
      font-weight: 400;
      font-size: 0.6rem;

      @media (min-width: $breakpoint-small) {
        font-size: 0.8rem;
      }
    }

    a {
      font-size: 0.6rem;

      @media (min-width: $breakpoint-small) {
        font-size: 0.8rem;
      }

      &:hover,
      &:focus {
        color: var(--wpe--color--orange);
      }
    }
  }

  .close-button {
    display: none;

    @media (min-width: $breakpoint-extra-small) {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 2rem;
      text-align: center;
    }

    .close-icon {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0 1rem;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.full-menu-content-light {
  background-color: var(--wpe--main--background-color);
}
