@import 'styles/breakpoints';

.component {
  color: var(--wpe--header--color);
  background-color: var(--wpe--main--background-color);
  position: relative;
  width: 100%;
  z-index: 50;
}

// .isScrolled {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   z-index: 1000;
// }

.sticky {
  background-color: var(--wpe--main--background-color);
  position: fixed;
  top: -60px;
  left: 0;
  width: 100%;
  // z-index: 1000;
  transform: translateY(60px);
  // transition: transform 0.3s ease-in-out;
}

.navShown {
  height: 4.5rem;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  gap: 1rem;
  height: 2.75rem;
  background-color: var(--wpe--main--background-color);

  @media (min-width: $breakpoint-extra-small) {
    padding: 0.5rem 0;
    height: 3.5rem;
  }
}

.brand {
  margin-left: 1rem;
  width: 10rem;
  height: 3.5rem;
  position: relative;

  @media (min-width: $breakpoint-extra-small) {
    width: 14rem;
    margin-left: 2rem;
  }

  img {
    height: 1.3rem;
    object-fit: contain;

    @media (min-width: $breakpoint-extra-small) {
      height: 1.6rem;
    }

    @media (min-width: $breakpoint-medium) {
      height: 1.8rem;
    }
  }
}

.title {
  text-decoration: none;
}

.navbar-navigation-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-menu-name {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.menu-button-wrapper {
  display: flex;
}

.search-button {
  display: flex;
  margin-right: 1rem;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $breakpoint-extra-small) {
    margin-right: 1rem;
  }

  button svg {
    width: 1.2rem;
    height: 1.3rem;

    @media (min-width: $breakpoint-extra-small) {
      width: 1.8rem;
      height: 2rem;
    }
  }
}

.menu-button {
  display: flex;
  margin-right: 1rem;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $breakpoint-extra-small) {
    margin-right: 2rem;
  }

  button svg {
    height: 3.5rem;
  }
}

.menu-icon {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  font-size: 1.875rem;
  line-height: 2.25rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 1.3rem;

  @media (min-width: $breakpoint-extra-small) {
    width: 1.6rem;
  }

  @media (min-width: $breakpoint-medium) {
    width: 1.8rem;
  }
}

.close-icon {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  font-size: 1.875rem;
  line-height: 2.25rem;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 1.3rem;

  @media (min-width: $breakpoint-extra-small) {
    width: 1.6rem;
    height: 3.5rem;
  }

  @media (min-width: $breakpoint-medium) {
    width: 1.8rem;
  }
}

.close-button {
  display: flex;
  padding-right: 1rem;
  justify-content: flex-end;
  align-items: center;

  @media (min-width: $breakpoint-extra-small) {
    padding-right: 2rem;
  }

  button svg {
    height: 3.5rem;
  }
}

// Search Bar
.search-bar-wrapper {
  display: flex;
  background-color: var(--wpe--main--background-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 1rem;

  * {
    text-transform: none;
  }

  @media (min-width: $breakpoint-extra-small) {
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .search-input-wrapper {
    position: relative;
    width: 100%;

    button {
      display: block;
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      color: var(--wpe--color--black);

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .search-result-wrapper {
    position: absolute;
    display: grid;
    background-color: var(--wpe--main--background-color);
    top: 4.7rem;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 0;
    justify-content: center;
    max-height: calc(-4.7rem + 100vh);

    @media (min-width: $breakpoint-extra-small) {
      top: 5.8rem;
      padding: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: rgba(0, 0, 0, 0.3); /* Slightly transparent */
      backdrop-filter: blur(10px); /* Apply blur */
      max-height: calc(-5.8rem + 100vh);
    }

    @media (min-width: $breakpoint-large) {
      top: 6.35rem;
      max-height: calc(-6.35rem + 100vh);
    }

    > div {
      width: 100vw;
      background-color: var(--wpe--main--background-color);
      padding: 1rem 1rem 7rem;
      z-index: 48;
      height: calc(-4.7rem + 100vh);
      max-width: 700px;

      @media (min-width: $breakpoint-extra-small) {
        padding: 1rem 2rem 5rem;
        margin: 0;
        height: calc(-5.8rem + 100vh);
      }

      @media (min-width: $breakpoint-large) {
        height: calc(-6.35rem + 100vh);
      }
    }

    .alert-error {
      color: var(--wpe--color--red);
      text-align: center;
    }
  }
}

.full-menu-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 51;
  top: -150vh;
  background-color: var(--wpe--main--background-color);
  color: var(--wpe--color--black);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 2.5rem;
    // transition: top 0.4s ease-in-out;

    @media ((min-width: $breakpoint-extra-small) and (max-width: $breakpoint-small)) {
      top: 3.5rem;
      height: calc(-3.5rem + 100vh);
    }

    @media (min-width: $breakpoint-small) {
      top: 4.5rem;
      height: calc(-4.5rem + 100vh);
    }
  }
}
