.post-ll-swiper {
  margin: 0;
  height: 100%;
}

.post-ll-swiper > .swiper-wrapper {
  padding: 0;
}

.post-ll-swiper > .swiper-wrapper > .swiper-slide {
  padding: 0;
  width: 100%;
  height: 100%;
}

.post-ll-swiper > .swiper-wrapper > .swiper-slide > img {
  padding: 0;
}

.swiper-ll-custom-pagination > .swiper-pagination-bullet {
  color: #494949;
  background: #494949;
  padding: 0.5rem;
  opacity: 1;
}

.swiper-ll-custom-pagination > .swiper-pagination-bullet-active {
  color: #fa4700;
  background: #fa4700;
}

.swiper-ll-custom-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  bottom: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .post-ll-swiper {
    padding: 0;
  }

  .swiper-ll-custom-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: block;
    top: 50%;
    width: fit-content;
    height: fit-content;
    position: fixed;
    transform-origin: left;
    transform: translate(10%, -100%) rotate(90deg);
    padding: 0;
  }
}
