@import 'styles/breakpoints';

.component {
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  max-width: 700px;
  padding: 0;
  margin: 0 auto;

  a {
    &:hover,
    &:focus {
      color: var(--wpe--color--orange);
    }

    * {
      &:hover,
      &:focus {
        color: var(--wpe--color--orange);
      }
    }
  }

  li.no-link > a {
    pointer-events: none;
  }
}

.full-menu-content {
  display: flex;
  height: calc(-5rem + 100vh);
  width: 100%;
  overflow-x: hidden;
  padding: 1rem 1rem 7rem;
  transition: transform 0.1s ease-out;
  transition: top 0.4s ease-in-out;
  flex-direction: column;

  @media (min-width: $breakpoint-extra-small) {
    max-height: calc(15rem + 100vh);
    width: 100%;
    padding: 2rem 2rem 7rem;
  }

  > div > div {
    border: none;
  }
}

.hc-menu-header {
  margin: 0 0 1rem;
}

.title-header-wrapper {
  padding: 0;
  display: block;
  width: 100%;
  white-space: normal;
  text-align: left;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  width: fit-content;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1.2rem;
  }
}

.menu-wrapper {
  padding: 0 0 0.5rem;

  > ul.menu {
    * {
      font-size: 0.8rem;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 1rem;
      }
    }

    > li {
      padding: 0 0 0.5rem;

      > a {
        display: block;
        text-transform: uppercase;
        padding: 0 0 0.5rem;
        font-weight: 700;
        width: fit-content;
      }

      > .menu-wrapper {
        > ul > li {
          padding: 0;

          > a {
            text-transform: none;
            padding: 0 0 0.5rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
