@import 'styles/breakpoints';

.component {
  background-color: transparent;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 700;
  display: flex;
  justify-content: center;
  width: 100%;

  :global {
    * {
      line-height: 1.2;
      width: fit-content;
      white-space: break-spaces;
    }

    a {
      min-width: 100%;
    }

    .menu-name,
    li.menu-name a {
      padding: 0 0 0.5rem;
      color: var(--wpe--color--black);
      display: block;
      transition: all 0.2s ease-out;
      width: 100%;
      white-space: normal;
      text-align: left;
      font-weight: 700;
      font-size: 1rem;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.2rem;
      }
    }

    li.blank {
      visibility: hidden;
      margin: -0.25rem 0;
    }
  }
}

.full-menu-content {
  display: block;
  height: calc(-4.5rem + 100vh);
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  transition: transform 0.1s ease-out;
  transition: top 0.4s ease-in-out;
  flex-direction: column;
  background-color: var(--wpe--main--background-color);

  @media (min-width: $breakpoint-extra-small) {
    padding: 0 0 2rem;
    height: calc(-4.5rem + 100vh);
    width: 100%;
    background-color: transparent;
  }

  * {
    ul {
      text-transform: uppercase;
    }
  }

  .menu-wrapper {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 20rem;
    background-color: var(--wpe--main--background-color);

    @media (min-width: $breakpoint-extra-small) {
      max-width: 700px;
      margin: 0 auto;
      padding: 2rem 2rem 5rem;
    }

    a {
      font-weight: 400;
      padding: 0 0 0.25rem;

      font-size: 0.8rem;

      @media (min-width: $breakpoint-medium) {
        font-size: 1rem;
      }
    }
  }

  // Secondary Menu {Destinations Menu}
  .first-wrapper {
    display: block;
    width: 100%;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-extra-small) {
      border-right: none;
      padding-right: 0;
      margin-bottom: 0;
    }

    .feature-navigation {
      // Hide Menu Title
      ul:first-child {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        li {
          a {
            color: var(--wpe--navigation-menu--color);
            display: block;
            transition: all 0.2s ease-out;
            width: auto;
            text-align: left;
            padding: 0 0 0.25rem;

            &:hover,
            &:focus {
              color: var(--wpe--link--color);
            }
          }
        }
      }
    }

    .latest-stories {
      padding-top: 0.25rem;

      .menu-content {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
        justify-content: flex-start;
        gap: 0.25rem;
        position: static;

        a {
          color: var(--wpe--navigation-menu--color);
          display: block;
          transition: all 0.2s ease-out;
          width: auto;
          text-align: left;

          &:hover,
          &:focus {
            color: var(--wpe--link--color);
          }
        }

        .menu-item {
          text-transform: capitalize;
        }
      }
    }
  }

  .second-wrapper {
    display: flex;
    flex-direction: column;
    // padding-bottom: 2rem;
    // width: calc(-2rem + 100vw);
    row-gap: 2rem;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-extra-small) {
      // width: 30%;
      margin-top: 2rem;
      padding-right: 1rem;
    }

    .secondary-navigation {
      // Hide Menu Title
      ul:first-child {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

        li {
          a {
            color: var(--wpe--navigation-menu--color);
            display: block;
            transition: all 0.2s ease-out;
            width: auto;
            text-align: left;
            padding: 0 0 0.25rem;

            &:hover,
            &:focus {
              color: var(--wpe--link--color);
            }
          }
        }
      }
    }

    .luxury-travel {
      .menu-content {
        display: grid;
        grid-template-columns: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
        justify-content: flex-start;
        gap: 0.25rem;
        position: static;

        a {
          color: var(--wpe--navigation-menu--color);
          display: block;
          transition: all 0.2s ease-out;
          width: auto;
          text-align: left;
          font-weight: 700;

          &:hover,
          &:focus {
            color: var(--wpe--link--color);
          }
        }

        .menu-item {
          text-transform: capitalize;
        }
      }
    }

    .menu-name {
      padding: 0 0 0.25rem;
      color: var(--wpe--color--black);
      display: block;
      transition: all 0.2s ease-out;
      width: 100%;
      text-align: left;
      font-weight: 700;
    }
  }

  .third-wrapper {
    display: block;
    width: 100%;

    @media (min-width: $breakpoint-extra-small) {
      border-right: none;
      padding-right: 0;
      margin-bottom: 0;
    }

    .latest-stories {
      padding-top: 0.25rem;

      .menu-content {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
        justify-content: flex-start;
        gap: 0.25rem;
        position: static;

        a {
          color: var(--wpe--navigation-menu--color);
          display: block;
          transition: all 0.2s ease-out;
          width: auto;
          text-align: left;

          &:hover,
          &:focus {
            color: var(--wpe--link--color);
          }
        }

        .menu-item {
          text-transform: capitalize;
        }
      }
    }
  }

  .fourth-wrapper {
    padding: 1rem 0 10rem;
    width: 100%;
    gap: 0;

    .socmed-wrapper {
      display: flex;
      justify-content: flex-start;
      column-gap: 0.5rem;

      @media (min-width: $breakpoint-extra-small) {
        column-gap: 1rem;
      }

      .socmed a {
        color: var(--wpe--navigation-menu--color);
        display: block;
        transition: all 0.2s ease-out;
        width: auto;
        text-align: left;
        padding: 0 0 0.25rem;

        &:hover,
        &:focus {
          color: var(--wpe--link--color);
        }
      }
    }
  }
}

.dark-color {
  .menu-wrapper {
    background-color: var(--wpe--color--deep--black);

    ul li {
      &::after {
        border-right: 1px solid var(--wpe--color--white--smoke) !important;
      }
      a {
        color: var(--wpe--color--white--smoke);
      }
    }

    :global {
      * {
        color: var(--wpe--color--white--smoke) !important;
        fill: var(--wpe--color--white--smoke) !important;

        a {
          &:hover,
          &:focus {
            color: var(--wpe--color--orange) !important;
          }
        }
      }
    }
  }
}

.searchVisible {
  overflow-y: hidden;
}
