@import 'styles/breakpoints';

.navigation-wrapper {
  background-color: var(--wpe--main--background-color);
  display: flex;
  align-items: center;
  position: fixed;
  height: auto;
  width: 100vw;
  z-index: 51;
  top: 2.5rem;
  padding: 0.25rem 0 0;

  @media (min-width: $breakpoint-extra-small) {
    top: 3.75rem;
    padding: 0;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    padding: 0;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0 2rem;
      margin: 0 auto;
    }

    @media (min-width: $breakpoint-small) {
      padding: 0;
    }

    @media (min-width: $breakpoint-large) {
      margin: 0 auto;
      padding: 0;
      position: relative;
      max-width: 1000px;
      z-index: 48;
    }
  }

  .menu-button,
  .desktop-menu-button,
  .search-menu-button,
  .hc-menu-button,
  .burger-menu-button {
    padding: 0.5rem;
    margin: 0;
    min-width: 4rem;
    width: fit-content;
    height: 100%;
    color: var(--wpe--color--black);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $breakpoint-extra-small) {
      min-width: 20%;
      max-width: 45%;
    }

    .menu-title {
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
      font-size: 0.6rem;
      line-height: 15.2px;

      @media (min-width: $breakpoint-extra-small) {
        font-size: 0.875rem;
        line-height: 20.8px;
      }

      @media (min-width: $breakpoint-large) {
        font-size: 1.2rem;
        line-height: 29.6px;
      }
    }

    // &:hover,
    &.active {
      background-color: var(--wpe--color--black);
      color: var(--wpe--color--white);
      fill: var(--wpe--color--white);

      * {
        color: var(--wpe--color--white);
        fill: var(--wpe--color--white);
      }

      svg {
        * {
          fill: var(--wpe--color--white);
        }
      }
    }

    // &.active-not-scrolled {

    //   * {
    //     font-weight: 700;
    //   }
    // }

    svg {
      padding: 0;
      margin: 0;
      height: 2rem;
    }
  }

  .desktop-menu-button {
    display: none;
    font-size: 0.6rem;
    line-height: 15.2px;
    font-weight: 500;

    @media (min-width: $breakpoint-extra-small) {
      display: flex;
      font-size: 0.875rem;
      line-height: 20.8px;
    }

    @media (min-width: $breakpoint-large) {
      font-size: 1.2rem;
      line-height: 29.6px;
    }
  }

  .search-menu-button {
    min-width: 1rem;

    @media (min-width: $breakpoint-extra-small) {
      min-width: 3rem;
    }

    .search-icon {
      fill: var(--wpe--color--black);
      height: 0.95rem;

      @media (min-width: $breakpoint-extra-small) {
        height: 1.3rem;
      }

      @media (min-width: $breakpoint-large) {
        height: 1.8501rem;
      }
    }
  }

  .hc-menu-button {
    padding: 0.288rem;
    min-width: 2rem;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0.25rem;
      min-width: 3rem;
    }

    .hc-icon {
      position: relative;
      height: 1.375rem;
      width: 1.375rem;

      @media (min-width: $breakpoint-extra-small) {
        height: 1.8rem;
        width: 1.8rem;
      }

      @media (min-width: $breakpoint-large) {
        height: 2.3501rem;
        width: 2.3501rem;
      }
    }
  }
}

.sticky {
  background-color: var(--wpe--main--background-color);
  position: fixed;
  top: -4.5rem;
  left: 0;
  width: 100%;
  // z-index: 1000;
  transform: translateY(7rem);
  padding: 0.25rem 0 0;

  @media (min-width: $breakpoint-extra-small) {
    top: -3.25rem;
    padding: 0;
  }

  * {
    color: var(--wpe--color--black);
    fill: var(--wpe--color--black);
  }

  .hc-menu-button {
    .hc-icon {
      * {
        fill: var(--wpe--color--black);
      }
    }
  }

  .desktop-menu-button {
    color: var(--wpe--color--black);
  }
}

// Search Bar
.search-bar-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 48;
  top: -150vh;
  background-color: var(--wpe--main--background-color);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 4.7rem;
    height: calc(-4.7rem + 100vh);
    transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

    @media (min-width: $breakpoint-extra-small) {
      top: 5.8rem;
      left: 0;
      height: calc(-5.8rem + 100vh);
      width: 100vw;
    }

    @media (min-width: $breakpoint-large) {
      top: 6.35rem;
      height: calc(-6.35rem + 100vh);
    }
  }

  .search-header-wrapper {
    display: block;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Ringside Regular A', 'Ringside Regular B';
    min-width: calc(100vw - 2rem);
    padding: 0 1rem;

    @media (min-width: $breakpoint-extra-small) {
      padding: 0 2rem;
      min-width: calc(1000px - 4rem);
      margin-bottom: 0;
    }

    // Third Menu {Luxe List & RCA Menu}
    .third-navigation,
    .fourth-navigation {
      display: flex;

      * {
        text-transform: none;
      }

      ul:first-child {
        color: var(--wpe--color--black);
        width: auto;
        font-weight: 500;
        font-size: 0.8rem;

        @media (min-width: $breakpoint-medium) {
          font-size: 1rem;
        }
      }

      ul {
        display: flex;
        column-gap: 0;

        li:first-child {
          padding-left: 0.25rem;
        }

        li {
          display: flex;
          padding-right: 0.5rem;

          &::after {
            content: ',';
            border-right: none !important;
            font-weight: 500;
            font-size: 0.8rem;
            margin-left: -2px;

            @media (min-width: $breakpoint-medium) {
              font-size: 1rem;
            }
          }

          &:last-child::after {
            display: none;
          }

          a {
            text-decoration: underline;
            font-weight: 500;
            font-size: 0.8rem;
            min-width: auto;

            @media (min-width: $breakpoint-medium) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  .search-bg-wrapper {
    width: 100%;
    max-width: 1000px;
    background-color: var(--wpe--main--background-color);
    height: 100%;
    margin: 0 auto;
  }

  .search-input-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background-color: var(--wpe--main--background-color);
    padding: 1rem;
    padding-bottom: 0.5rem;

    @media (min-width: $breakpoint-extra-small) {
      padding: 2rem 2rem;
      padding-bottom: 1rem;
    }
  }

  .search-result-wrapper {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background-color: var(--wpe--main--background-color);
    margin: 0 auto;
    padding: 1rem 0;
    padding-top: 0.5rem;

    @media (min-width: $breakpoint-extra-small) {
      padding: 2rem 0;
      padding-top: 1rem;
    }

    .alert-error {
      color: var(--wpe--color--red);
      text-align: center;
    }
  }
}

.full-menu-content {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 48;
  top: -150vh;
  background-color: var(--wpe--main--background-color);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 4.7rem;
    height: calc(-4.7rem + 100vh);
    transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

    @media (min-width: $breakpoint-extra-small) {
      top: 5.8rem;
      left: 0;
      height: calc(-5.8rem + 100vh);
      width: 100vw;
    }

    @media (min-width: $breakpoint-large) {
      top: 6.35rem;
      height: calc(-6.35rem + 100vh);
    }

    // * {
    //   color: var(--wpe--color--white--smoke);
    // }
  }
}

.full-menu-wrapper {
  display: flex;
  flex-direction: column;
  // padding-bottom: 2rem;
  width: 100%;
  max-width: calc(1000px - 2rem);
  row-gap: 2rem;
  height: 100%;
  text-wrap: balance;
  padding: 0.5rem 1rem 7rem;
  font-weight: 400;
  text-align: left;

  @media (min-width: $breakpoint-extra-small) {
    // width: 30%;
    padding: 1.5rem 2rem 5rem;
    margin: 0 auto;
  }

  .primary-navigation {
    width: 100%;
    padding: 0.5rem 0 1rem;

    // Menu Title
    ul:first-child {
      display: none;
    }

    > ul {
      width: 100%;
      // column-count: 2; // exactly 2 columns
      // column-gap: 1rem; // space between them

      li {
        break-inside: avoid;
        position: relative;
        padding-right: 0;
        display: block;
        padding-bottom: 0.25rem;

        @media (min-width: $breakpoint-extra-small) {
          padding-right: 0.25rem;
        }

        &:last-child::after {
          display: none;
        }

        a {
          font-size: 0.8rem;
          font-weight: 500;
          padding: 0 0.25rem 0.25rem 0;
          width: max-content;
          line-height: 1.2;

          @media (min-width: $breakpoint-extra-small) {
            font-size: 1rem;
          }
        }

        ul {
          display: flex;
          position: absolute;
          top: 0;
          left: 100%;
          padding: 0;
          margin: 0;
          flex-direction: row;
          flex-wrap: nowrap;
          column-gap: 0.125rem;

          @media (min-width: $breakpoint-extra-small) {
            column-gap: 0.25rem;
          }

          li {
            padding-right: 0.25rem;
            padding-left: 0.35rem;

            @media (min-width: $breakpoint-extra-small) {
              padding-left: 0.5rem;
            }

            > a {
              padding: 0;
            }

            &::before {
              content: '|';
              font-weight: 400;
              position: absolute;
              top: -15%;
              left: -4.5%;

              @media (min-width: $breakpoint-extra-small) {
                top: -10%;
              }
            }

            .menu-item {
              display: inline-block;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  :global {
    * {
      line-height: 1.2;
      width: fit-content;
      white-space: break-spaces;
    }

    a {
      min-width: 100%;
    }

    .menu-name,
    li.menu-name a {
      padding: 0 0 0.5rem;
      color: var(--wpe--color--black);
      display: block;
      transition: all 0.2s ease-out;
      width: 100%;
      white-space: normal;
      text-align: left;
      font-weight: 700;
      font-size: 1rem;

      @media (min-width: $breakpoint-medium) {
        font-size: 1.2rem;
      }
    }

    li.no-link > a {
      pointer-events: none;
      text-decoration: none !important;
    }

    li.blank {
      flex-basis: 100%; /* forces a new row */
      height: 0; /* optional: reduce vertical space if needed */
      padding: 0;
      margin: 0;
      pointer-events: none; /* optional: disable interaction */
      visibility: hidden;
    }

    li.blank::after,
    li.blank::before,
    li.blank:last-child::after,
    li.no-divider::after,
    li.no-divider::before,
    li.no-divider:last-child::after {
      display: none;
    }

    li.blank,
    li.blank + li {
      column-span: all; // take full width, escape columns
      display: block;
      margin-top: auto; // push them down if parent is flex/grid
    }

    li.bold,
    li.bold a {
      font-weight: 700 !important;
    }

    li.no-wrap,
    li.no-wrap a {
      white-space: nowrap;
    }
  }
}

.full-menu-wrapper,
.hc-menu-wrapper {
  background-color: var(--wpe--main--background-color);
  position: relative;
  max-width: 1000px;

  @media (min-width: $breakpoint-extra-small) {
    margin: 0 auto;
  }

  * {
    color: var(--wpe--color--black);
  }
}

.magazine-menu-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 48;
  top: -150vh;
  background-color: var(--wpe--main--background-color);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 4.7rem;
    height: calc(-4.7rem + 100vh);
    transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

    @media (min-width: $breakpoint-extra-small) {
      top: 5.8rem;
      left: 0;
      height: calc(-5.8rem + 100vh);
      width: 100vw;
    }

    @media (min-width: $breakpoint-large) {
      top: 6.35rem;
      height: calc(-6.35rem + 100vh);
    }
  }
}

.rca-menu-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 48;
  top: -150vh;
  background-color: var(--wpe--main--background-color);
  color: var(--wpe--color--black);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 4.7rem;
    height: calc(-4.7rem + 100vh);
    transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

    @media (min-width: $breakpoint-extra-small) {
      top: 5.8rem;
      left: 0;
      height: calc(-5.8rem + 100vh);
      width: 100vw;
    }

    @media (min-width: $breakpoint-large) {
      top: 6.35rem;
      height: calc(-6.35rem + 100vh);
    }

    * {
      color: var(--wpe--color--black);
    }
  }
}

.burger-menu-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 48;
  top: -150vh;
  background-color: var(--wpe--main--background-color);

  &.show {
    padding: 0;
    gap: 1rem;
    top: 4.7rem;
    height: calc(-4.7rem + 100vh);
    transition: backdrop-filter 0.8s ease-in-out, visibility 0.8s ease-in-out;

    @media (min-width: $breakpoint-extra-small) {
      top: 5.8rem;
      left: 0;
      height: calc(-5.8rem + 100vh);
      width: 100vw;
    }

    @media (min-width: $breakpoint-large) {
      top: 6.35rem;
      height: calc(-6.35rem + 100vh);
    }
  }
}
