// Base styles

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--wpe--main--background-color);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Ringside Regular A', 'Ringside Regular B';
  font-weight: 400;
  font-size: 1.125rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1.25rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: var(--wpe--main--background-color);
  color: var(--wpe--color--black);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  white-space: nowrap;
  margin: 0 0 1rem;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

p {
  font-family: 'Chronicle Display A', 'Chronicle Display B';
  font-weight: 400;
  margin: 0 0 1rem;
  letter-spacing: 1.15px;
  line-height: 1.6;
  font-size: 1.125rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1.25rem;
  }
}

a {
  color: var(--link-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Advertisement
iframe {
  margin: 0 auto;
}

span.screen-reader-text {
  display: none;
}

li.unclickable > a {
  pointer-events: none;
}

div.hc-socmed img {
  padding: 0.5rem 0.25rem 0.5rem;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0.75rem 0.25rem 0.75rem;
  }
}

div > .yt-lite > .play-icon {
  display: block;
  width: 100%;
  height: 100%;
  background: no-repeat center / 15% 25%;
  background-image: url(../assets/icons/play-button.png);
  position: absolute;
}

::-moz-selection {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--blue);
}

::selection {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--blue);
}
