// CSS Variables
// See `_breakpoints.scss` for media query breakpoint variables.

:root {
  // Color Definitions.
  --wpe--color--black: #000000;
  --wpe--color--deep--black: #1e1e21;
  --wpe--color--black--cow: #494949;
  --wpe--color--jet--grey: #363432;
  --wpe--color--grey: #929292;
  --wpe--color--white: #ffffff;
  --wpe--color--white--smoke: #f5f5f5;
  --wpe--color--slate: #0a2540;
  --wpe--color--blue: #197cc3;
  --wpe--color--light--blue: #e3efef;
  --wpe--color--cyan: #c3e7e5;
  --wpe--color--green: rgba(188, 228, 226, 0.6);
  --wpe--color--teal: #dbf2f1;
  --wpe--color--light--green: #d8eae9;
  --wpe--color--red: #f94700;
  --wpe--color--orange: #fa4700;
  --wpe--color--yellow: #daa520;
  --wpe--color--light--yellow: #fdf5e0;
  --wpe--color--cream: #f7e3b1;
  --wpe--color--light--cream: #fffbee;
  --wpe--color--dark--sand: #eab421;

  // Color Assignments.
  --wpe--color--title: var(--wpe--color--black);
  --wpe--link--color: var(--wpe--color--blue);
  --wpe--header--color: var(--wpe--color--black);
  --wpe--navigation-menu--color: var(--wpe--color--black);
  --wpe--navigation-menu--background-color: transparent;
  --wpe--main--color: var(--wpe--color--black);
  --wpe--main--background-color: var(--wpe--color--white--smoke);
  --wpe--hc--background-color: var(--wpe--color--light--yellow);
}
