@import 'styles/breakpoints';

.component {
  color: var(--wpe--header--color);
}

.container-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 49;
  height: 2.5rem;

  @media (min-width: $breakpoint-extra-small) {
    height: 3rem;
  }

  // &.show {
  //   height: 100%;
  // }
}

.home-container-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 49;
  content-visibility: hidden;

  .home-navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .home-navbar-wrapper {
      display: none;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin: 0 auto;
      padding: 0;

      @media (min-width: $breakpoint-extra-small) {
        display: flex;
        width: 90vw;
      }
    }
  }
}

.homeSticky {
  padding: 0;

  @media (min-width: $breakpoint-extra-small) {
    padding: 0 0 0.5rem;
    content-visibility: visible;
  }
}

.sticky,
.homeSticky {
  background-color: var(--wpe--main--background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(6.5rem);
  // transition: transform 0.5s ease-in-out;
  box-shadow: 0 2px 1px 0px rgba(245,245,245,0.75);

  @media (min-width: $breakpoint-extra-small) {
    top: 0;
    transform: translateY(8.125rem);
    max-height: 3.5rem;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--wpe--main--background-color);
  margin: 0 auto;
  max-width: 700px;
}
