@import 'styles/breakpoints';

.component {
  color: var(--wpe--header--color);
}

.container-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 51;

  // @media (min-width: $breakpoint-extra-small) {
  //   margin: -1rem auto 0;
  // }

  &.show {
    height: 100%;

    @media (min-width: $breakpoint-extra-small) {
      height: 3rem;
    }
  }
}

.sticky {
  background-color: var(--wpe--main--background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(2.75rem);
  // transition: transform 0.5s ease-in-out;
  box-shadow: 0 2px 1px 0px rgba(245, 245, 245, 0.75);
  // z-index: 1000;

  @media (min-width: $breakpoint-extra-small) {
    top: 0;
    transform: translateY(3.5rem);
    max-height: 3.5rem;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--wpe--main--background-color);
  margin: 0 auto;
  max-width: 700px;
}
