@import 'styles/breakpoints';
@import 'styles/fonts/typography';

.component {
  width: 100vw;
  line-height: 1;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem;
  background-color: var(--wpe--color--white);

  @media (min-width: $breakpoint-extra-small) {
    padding: 0;
    padding-bottom: 1rem;
  }
}

.content-wrapper {
  height: fit-content;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $breakpoint-extra-small) {
    max-width: 700px;
  }
}

.title {
  font-family: 'Unit Slab Pro Black';
  font-size: 1rem;
  line-height: 1.2;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1.5rem;
  }
}

.featuredImage {
  min-width: 100%;
  margin: 0;
  margin-bottom: 1rem;
  height: auto;
  padding-left: 1rem;

  @media (min-width: $breakpoint-extra-small) {
    padding-left: 0;
  }

  span,
  img {
    min-width: 100%;
  }
}

.excerpt {
  font-family: 'Chronicle Display A', 'Chronicle Display B';
  font-weight: 500;
  font-size: 0.6rem;
  padding: 0 0 0.25rem;

  @media (min-width: $breakpoint-extra-small) {
    font-size: 1rem;
  }

  p {
    line-height: 1.6;
  }

  a {
    display: none;
  }
}

.border-bottom {
  width: 95%;
  margin: 0 auto 2rem;
  border-bottom: 1px solid var(--wpe--color--grey);

  @media (min-width: $breakpoint-extra-small) {
    width: 100%;
  }
}
